*.Rproj.user
*.Rhistory
*.Ruserdata
*.png
*.pdf
*.svg
.Rproj.user
data/HadCM3/precipitation/*
data/HadCM3/surface_temperature/*
data/HadCM3/wind/*
data/HadCM3/sea_ice/*
data/HadCM3/sea_level_pressure/*
data/HadCM3/*
03_spectral_analysis/amoc.R
!/.gitignore
!/.gitattributes
.git/*
.vscode/*
.gitignore
data/max-amoc.RData
data/EBM1.2/*
03_spectral_analysis/TransEBM_regional_vs_global.R
